extends base

block append head 
    script(defer src='/js/feedScript.js')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet')

block content 
    .overlay.hidden
    main.feed 
        section.post 
            each restaurant in restaurants
                each post in restaurant.posts
                    article.post__container(id=`${post.meal}`)
                        a(href=`/restaurant/${restaurant.slug}`)
                            img.post__img(src=`img/${post.imageFile}` alt=`${post.imageFile}`)
                        .post__content 
                            .post__content--text 
                                a(href=`/restaurant/${restaurant.slug}`)
                                    h3= post.plateName 
                                    span= post.about
                            button.post__content--krayv
                                svg 
                                    use(href=`img/icons.svg#icon-grin`)
                                span= post.krayv

        .geofilter.hidden
            button.btn--close-modal.geoClose &times;
            each restaurant in restaurants
                #map(data-locations=`${JSON.stringify(restaurant.location)}`)

        .filters.hidden
            button.btn--close-modal.filterClose &times;
            .meal 
                <input class="breakfast" type="checkbox" id="breakfast">
                label(for="breakfast" id="breakfast")
                    <span>Breakfast</span>
                <input class="brunch" type="checkbox" id="brunch"> 
                label(for="brunch" id="brunch")
                    <span>Brunch</span>
                <input class="lunch" type="checkbox" id="lunch">
                label(for="lunch" id="lunch")
                    <span>Lunch</span>
                <input class="dinner" type="checkbox" id="dinner">
                label(for="dinner" id="dinner")
                    <span>Dinner</span>
            .price 
                <input class="price1" type="checkbox" id="price1">
                label(for="price1" id="price1")
                    <span>&dollar;</span> 
                <input class="price2" type="checkbox" id="price2"> 
                label(for="price2" id="price2")
                    <span>&dollar;&dollar;</span> 
                <input class="price3" type="checkbox" id="price3">
                label(for="price3" id="price3")
                    <span>&dollar;&dollar;&dollar;</span> 

    //- FOOTER
    include _footer

    script(src='/js/mapbox.js')