extends base

block content 
    main.feed 
        section.post 
            each post in posts
                article.post__container(id=`${post.meal}`)
                    a(href='#')
                        img.post__img(src=`img/${post.imageFile}` alt=`${post.imageFile}`)
                    .post__content 
                        .post__content--text 
                            a(href='#')
                                h3= post.plateName 
                                span= post.about
                        button.post__content--krayv 
                            svg 
                                use(href='img/icons.svg#icon-grin')
                            span= post.krayv